@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Primary */
  /* #491447 russian purple 302 57% 18% */
  /* Secondary */
  /* #f3f4f6 */
  /* Background */
  /* #FFFFFF */
  :root {
    /* #ffffff */
    --background: 0 0% 100%;
    --card: 0 0% 100%;
    --popover: 0 0% 100%;

    /* #030712 */
    --foreground: 224 71.4% 4.1%;
    --card-foreground: 224 71.4% 4.1%;
    --popover-foreground: 224 71.4% 4.1%;

    /* #ef4444 */
    --destructive: 0 84.2% 60.2%;

    /* #491447 */
    --primary: 302 57% 18%;
    --ring: 302 57% 18%;

    /* #f9fafb */
    --primary-foreground: 210 20% 98%;
    --destructive-foreground: 210 20% 98%;

    /* #f3f4f6 */
    --secondary: 220 14.3% 95.9%;
    --muted: 220 14.3% 95.9%;
    --accent: 220 14.3% 95.9%;

    /* #111827 */
    --secondary-foreground: 220.9 39.3% 11%;
    --accent-foreground: 220.9 39.3% 11%;
    /* #6b7280 */
    --muted-foreground: 220 8.9% 46.1%;

    /*  #e5e7eb */
    --border: 220 13% 91%;
    --input: 220 13% 91%;

    --radius: 1rem;

    --height-navbar: 80px;
    --height-searchbarcontainer: 45px;
    --height-footer: 80px;
    --height-searchpage-space: 4rem;
    --width-searchbar: 1000px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .content-grid {
    --padding-inline: 1.5rem; /* Min Padding when no space */
    --content-max-width: 900px; /* Max size of main content */
    --breakout-max-width: 1080px; /* Max size of breakout */

    --full: minmax(var(--padding-inline), 1fr);
    --breakout: minmax(
      0,
      calc((var(--breakout-max-width) - var(--content-max-width)) / 2)
    );
    --content: min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    );

    display: grid;
    grid-template-columns:
      [full-width-start]
      var(--full)
      [breakout-start]
      var(--breakout)
      [content-start]
      var(--content)
      [content-end]
      var(--breakout)
      [breakout-end]
      var(--full)
      [full-width-end];
  }

  .content-grid
    > :not(.content-grid-breakout, .content-grid-full-bg, .content-grid-full),
  .content-grid-full-bg
    > :not(.content-grid-breakout, .content-grid-full-bg, .content-grid-full) {
    grid-column: content;
  }
  .content-grid > .content-grid-breakout {
    grid-column: breakout;
  }
  .content-grid > .content-grid-full {
    grid-column: full-width;
  }
  .content-grid > .content-grid-full-bg {
    grid-column: full-width;
    display: grid;
    grid-template-columns: inherit;
  }
}

.react-autosuggest__container {
  @apply relative h-full w-[312.5px] rounded-b-2xl;
}

.react-autosuggest__container::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cpath d='m21 21-4.3-4.3'/%3E%3C/svg%3E");
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 12px;
  left: 0.75rem;
}

.react-autosuggest__input {
  @apply h-full w-full !rounded-r-none border border-input bg-background py-2 pl-8 pr-3 ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground;
  border-radius: calc(var(--radius) - 2px);
}

.react-autosuggest__input--focused {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
}

.react-autosuggest__input--open {
  border-radius: calc(var(--radius) - 2px);
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  @apply absolute z-50 block w-[312.5px] rounded-md border bg-popover text-popover-foreground shadow-md outline-none;
  top: 50px;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  @apply rounded-md bg-secondary;
}
